/**
 * Style rule overrides.
 *
 * Site specific overrides of the Wise template's style rules.
 */

/* Left aligned site logo. */
.header .logo {
  text-align: initial !important;
}

/**
 * Carousel caption location.
 *
 * Image captions to appear at the bottom of carousel images rather than in
 * the middle.
 */
.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 1em 1em 0;

  font-weight: normal;
  text-align: initial;
  background-color: rgba(0, 0, 0, .4);
}

/* A paragraph with very tall lines. */
.tall-p-300 {
  line-height: 300px;
}

/* Bootstrap Extra-small and Small breakpoints. */
@media screen and (max-width: 767px) {
  /* Edge to edge banner image in smaller displays. */
  .banner.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

/* Bootstrap Medium breakpoint and above. */
@media screen and (min-width: 768px) {
  /* Banner image should be left aligned. */
  .banner > .carousel-item {
    text-align: initial;
  }

  /* Caption width should match image width which is 640px at the moment. */
  .banner .carousel-caption {
    width: 640px;
  }
}
